@{
    ViewData["Title"] = "List User";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

@using Black_Rose.Models;
@model Black_Rose.Models.PatientModel;

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">List User</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        @*<td>No</td>*@
                        <td>Name</td>
                        <td>Address</td>
                        <td>Email</td>
                        <td>Phone</td>
                        <td>KTP</td>
                        <td colspan="2" align="center">Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in ViewData["patients"] as IEnumerable<Black_Rose.Models.PatientModel>)
                    {
                        <tr>
                            <td>@string.Concat(data.first_name, " ", data.last_name) </td>
                            <td>@data.address</td>
                            <td>@data.email</td>
                            <td>@data.phone</td>
                            <td>@data.ktp</td>
                            <td><a href="https://localhost:44360/patient/editpage/@data.id">Edit</a></td>
                            <td><a href="https://localhost:44360/patient/delete/@data.id">Delete</a></td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <button type="button" class="btn btn-primary" onclick="ToCreate()">New Patient</button>

</div>


<script>
    function ToCreate() {
        window.location = "/patient/AddPage";
    };
</script>
