@{
    ViewData["Title"] = "Create User";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";

}

@using Black_Rose.Models;
@model Black_Rose.Models.UserModels;
 
@{
    UserModels data = (UserModels)ViewData["user"];
    var username = data.username;
    var password = data.password;
    var fullname = data.fullname;
    var roleid = data.roleid;
    var id = data.id;

}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Form User Edit</h3>
    </div>
    <div class="card-body">
        <form method="post" asp-controller="User" asp-action="edit" enctype="multipart/form-data">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Insert username" value="@username" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="@password" />
            </div>
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Insert username" value="@fullname" />
            </div>
            <div class="form-group">
                <label>RoleID</label>
                <select id="roleid" class="custom-select" name="roleid">
                    <option value="1">Dokter</option>
                    <option value="2">Pegawai</option>
                </select>
            </div>
            <input type="hidden" id="id" name="id" value="@id.ToString()" />
            <input type="hidden" id="roleids" value="@roleid.ToString()" />
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

       

        <script type="text/javascript">
            $('document').ready(function () {
                var roleid = $("#roleids").val();
                var role;
                if (roleid == '1') {
                    role = 'Dokter'
                }
                if (roleid == '2') {
                    role = 'Pegawai';
                }
                $("#roleid").val(roleid).attr("selected", "selected");
            });


        </script>
